@font-face {
    font-family: "Bricolage-Grotesque_Bold";
    src: url("./fonts/BricolageGrotesque-Bold-BF648bd57858523.otf")
}

@font-face {
    font-family: "Bricolage-Grotesque_ExtraBold";
    src: url("./fonts/BricolageGrotesque-ExtraBold-BF648bd5781b312.otf")
}

@font-face {
    font-family: "Bricolage-Grotesque_ExtraLight";
    src: url("./fonts/BricolageGrotesque-ExtraLight-BF648bd57830180.otf")
}

@font-face {
    font-family: "Bricolage-Grotesque_Light";
    src: url("./fonts/BricolageGrotesque-Light-BF648bd57867903.otf")
}

@font-face {
    font-family: "Bricolage-Grotesque_Medium";
    src: url("./fonts/BricolageGrotesque-Medium-BF648bd578394c9.otf")
}

@font-face {
    font-family: "Bricolage-Grotesque_Regular";
    src: url("./fonts/BricolageGrotesque-Regular-BF648bd5781d794.otf")
}

@font-face {
    font-family: "Bricolage-Grotesque_SemiBold";
    src: url("./fonts/BricolageGrotesque-SemiBold-BF648bd578894ae.otf")
}
