@import url('fonts.css');
body {
  font-family: Space-grotesque, sans-serif;
  margin: 0;
  padding: 0;
  font-family: "Bricolage-Grotesque_Regular";
}

* {
  box-sizing: border-box;
}

.container {
  display:flex;
  flex-direction: column;
  margin: 0;
}

.navbar {
  background: rgba(255, 255, 255, 0.2); /* Glass morphism effect */
  backdrop-filter: blur(10px); /* Blur effect */
  padding: 20px 50px;
  position: fixed;
  border-bottom: 1px solid hsl(214.3 31.8% 91.4%);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-brand {
  font-size: 24px;
  font-weight: regular;
  color: #000;
  font-family: "Bricolage-Grotesque_Bold";
}

.navbar-links {
  display: flex;
  gap: 20px;
}


.navbar-link {
  color: #000;
  text-decoration: none;
}

.navbar-link:hover {
  color: #287bff;
}

.content {
  width: 100%;
  padding: 0 50px 0px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.content .inputContainer {
  width: 100%;
  margin: 0 auto;
}

.content h2 {
  font-size: 63px;
  margin: 0;
  margin-top: 70px;
  font-family: "Bricolage-Grotesque_Medium";
}

.content h3 {
  font-family: "Bricolage-Grotesque_ExtraLight";
}

  
h1, h2 {
  text-align: center;
}

  
textarea {
  width: 100%;
  height: 200px;
  border: 2px solid hsl(214.3 31.8% 91.4%);
  border-bottom: none;
  border-radius: 1.5em 1.5em 0 0;
  padding: 20px;
  outline: none;
}

button {
  padding: 15px 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 1.5em;
  font-family: "Bricolage-Grotesque_Regular";
}


.content .input {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  width: 100%;
  font-family: "Bricolage-Grotesque_Extralight";
  padding: 8px 10px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border: 2px solid hsl(214.3 31.8% 91.4%);
  border-radius: 0 0 1.5em 1.5em;
}

.options .seperateToggle {
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

.seperateToggle .toggle {
  padding: 6px;
  background: #f0f3f4;
  cursor: pointer;
}

.seperateToggle .toggle:nth-child(1) {
  border-radius: 0 0 0 1em;
}

.seperateToggle .toggle:nth-child(2) {
  border-radius: 0 0 1em 0;
}

.seperateToggle .toggle.active {
  background: #787391;
  color: white;
}

.options .numberTweet{
  background: #f0f3f4;
  display: flex;
  padding: 10px;
  white-space: nowrap;
  border-radius: 1em;
  cursor: pointer;
}

.splitBtn {
  margin-top: 10px;
}

.copy {
  margin-top: 10px;
  width: 120px;
  font-family: "Bricolage-Grotesque_Light";
  padding: 10px 20px;
  background: #000;
  border-radius: 1em;
}

.copy:hover {
  background: #287bff;
}

.tweet {
  line-height: 1.5em;
  text-align: left;
  display: flex;
  flex-direction: column;
  border-radius: 1.5em;
  font-family: "Bricolage-Grotesque_ExtraLight";
  padding: 15px;
  margin-top: 30px;
  box-shadow: 0px -3px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #000;
}

#tweetParts {
  width: 100%;
  margin-top: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  background: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0dede;
  border-radius: 10px;
}
  